body {
    background-color: #FFFBE3;
    color: #062925;
    font-family: "Poppins", sans-serif;
    margin: 100px 0;
    line-height: 1.5;
}

.navbar {
    font-family: "Poppins", sans-serif;
    padding: 18px;
}

.navbar-toggler {
    background-color: #FFFBE3;
}

h1, h2 {
    font-family: "Jua", sans-serif;
}

h2 {
    color: #9E1C56;
    font-size: 40px;
}

.hero-container {
    background-color: #FFF0B3;
    padding: 50px;

}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btn-branding {
    color: #FFFFFF;
    border-radius: 15px;
    padding: 15px 30px;
}

.btn-branding.primary {
    background-color: #C54C82;
}

.btn-branding.secondary {
    background-color: #347474;
}

.bg-body-branding {
    background-color: #F4AEBA;
}

.web-apps {
    background-color: #FFF0B3;
    border-radius: 8px;
}

.web-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.tablet-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: contain;
}

.tablet-screen {
    border: 2px solid #9E1C56;
}

.console-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: contain;
}

.games {
    background-color: #FFF0B3;
    border-radius: 8px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* This is a general rule to remove default outlines and highlights */
:focus {
    outline: none !important;
    /* !important helps override other styles */
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
    /* For mobile taps */
}

/* Specifically target your screenshot images if they are the ones gaining focus */
.tablet-screen:focus,
.tablet-screen:active {
    outline: none !important;
    box-shadow: none !important;
    /* If it's a background or filter causing it, try these: */
    background-color: transparent !important;
    filter: none !important;
}

.console-screen:focus,
.console-screen:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    filter: none !important;
}